@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', system-ui;
}

body {
  padding: 32px;
} 

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.btn {
  
  font-size: 16px;
  font-weight: bold;
  background-color: #6415ff;
  padding: 8px 32px;
  border-radius: 9999px;
  color: #fff;
}

.purple {
  color: #6415ff
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 96px 0;
}


/* 

NAV

*/

.nav__container {
  /* padding: 32px 0; */
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.logo__img {
  width: 100%;
}

.logo__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
  gap: 10px;
}

.logo__figure {
  width:50px;
}

.logo__name {
  font-size: 24px;
  color: #243E63;
}

.nav__items {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav__item--link {
  font-weight: 600;
  margin: 0 24px;
  font-size: 14px;
  color: #1A202C;
  padding: 0 0 4px;
}

.nav__item--link--primary {
  background-color: #6415ff;
  padding: 12px 32px;
  border-radius: 9999px;
  color: #fff;
}

.nav__item--link:not(:last-child):hover {
  color: #6415ff;
  border-bottom: 2px solid #6415ff;
}

.logo__name:hover {
  color: #6415ff;
}

/* 

LANDING

*/

#landing {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
}

.landing__row {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.landing__description {
width: 40%;
display: flex;
flex-direction: column;
}

.landing__title {
  font-size: 48px;
}

.landing__description--para {
  margin: 32px 0;
  font-size: 18px;
  color: #243E63;
}

.email__input--wrapper {
  padding: 4px 4px;
  display: flex;
  justify-content: space-between;
  border: 2px solid lightgray;
  border-radius: 9999px;
}

.email__input input:focus {
  opacity: 1;
  border: 2px solid #6415ff;
}

.email__input--wrapper:hover {
  border: 2px solid #A0AEC0;
}

input[type="email"]:focus{
  outline: none;
}



.email__input {
  margin: 8px 12px;
  border: none;
  font-size: 14px;
}

.landing__img--wrapper {
  width: 60%; 
}

.landing__img {
  width: 100%;
}

.sign-up__btn {
  padding: 16px 32px;
}

.trusted-brands__img--para {
  font-size: 13px;
  margin-top: 80px;
  font-weight: 700;
  color: #A0AEC0;
}

.trusted-brands__img--wrapper {
  width: 400px;
}

.trusted-brands__img {
  opacity: 0.6;
  width: 100%;
  margin-top: 12px;
}


/* 

FEATURES

*/

.features__row {
  /* width: 100px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section__title{
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 24px;
}

.section__sub-title {
  color: #243E63;
  font-size: 48px;
  font-weight: 900;
}

.section__description--para {
  font-weight: 700;
  width: 60%;
  margin: 33px;
  font-size: 16px;
  text-align: center;
  color: #243e6382;
}

.services {
  width: calc(100% / 3);
  display: flex;
  justify-content: center;
}


.service__img--wrapper {
  padding: 12px;
  border-radius: 50%;
  width: 49px;
  margin: 12px 16px;
  border: 2px solid #243e6382;
}

.service__img {
  padding: 0 12px 0 0;
}