@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', system-ui;
}

body {
  padding: 32px 0 0 0;
} 

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* section {
  height: 100%;
} */

.btn {
  font-size: 16px;
  font-weight: bold;
  background-color: #6415ff;
  padding: 16px 32px;
  border-radius: 9999px;
  color: #fff;
}
.btn:hover {
  background-color: #5511de;
  cursor: not-allowed;
}

.purple {
  color: #6415ff
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 96px 0;
}

.row {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}


/* 

NAV

*/

.nav__container {
  width: 90%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.logo__img {
  width: 100%;
}

.logo__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
  gap: 10px;
}

.logo__figure {
  width:50px;
}

.logo__name {
  font-size: 24px;
  color: #243E63;
}

.nav__items {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav__item--link {
  font-weight: 600;
  margin: 0 24px;
  font-size: 14px;
  color: #1A202C;
  padding: 0 0 4px;
}

.nav__item--link--primary {
  background-color: #6415ff;
  padding: 12px 32px;
  border-radius: 9999px;
  color: #fff;
}

.nav__item--link:not(:last-child):hover {
  color: #6415ff;
  border-bottom: 2px solid #6415ff;
}

.logo__name:hover {
  color: #6415ff;
}

/* 

LANDING

*/


.landing__description {
width: 50%;
display: flex;
flex-direction: column;
}

.landing__title {
  font-size: 50px;
  max-width: 95%;
}

.landing__description--para {
  max-width: 90%;
  line-height: 1.5;
  margin: 32px 0;
  font-size: 18px;
  color: #243E63;
}

.email__input--wrapper {
  padding: 4px;
  display: flex;
  max-width: 90%;
  border: 2px solid lightgray;
  border-radius: 9999px;
}

.email__input--wrapper:hover {
  border: 2px solid #6415ff;
  outline: none;
}

.email__input {
  border: none;
  width: 100%;
  padding-left: 16px;
  opacity: 0.5;
  font-size: 16px;
}

input[type="email"]:focus {
  outline: none;
}
.sign-up__btn {
  width: 45%;
  padding: 12px 24px;

}


.landing__img {
  width: 60%;
}



.trusted-brands__img--para {
  font-size: 13px;
  margin-top: 80px;
  font-weight: 700;
  color: #A0AEC0;
}

.trusted-brands__img--wrapper {
  width: 400px;
}

.trusted-brands__img {
  opacity: 0.6;
  width: 100%;
  margin-top: 12px;
}


/* 

FEATURES

*/

.features__row {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section__title{
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 24px;
}

.section__sub-title {
  color: #243E63;
  font-size: 48px;
  font-weight: 900;
}

.section__description--para {
  font-weight: 700;
  line-height: 1.5;
  width: 60%;
  margin: 24px;
  padding: 0 50px;
  font-size: 18px;
  text-align: center;
  color: #243e6382;
}

.services__wrapper {
  margin: 64px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.services {
  width: calc(100% / 3);
  display: flex;
  align-items: flex-start;
}

.service__img--wrapper {
  margin-right: 12px;
}

.service__img {
  padding: 19px;
  margin: 0 32px;
  width: 65%;
  border-radius: 50%;
  border: 2px solid #243e6312;
}


.service__description{
  display: flex;
  text-align: start;
  flex-direction: column;
  justify-content: flex-start;
}

.service__name {
  font-weight: 500;
  font-size: 24px;
  
}

.service__para {
  line-height: 2;
  font-weight: 500;
  margin-top: 16px;
  margin-bottom : 48px;
  font-size: 18px;
  text-align: start;
  color: #243E63;
}


/* 

QUALITY WORK

*/


.quality-work__wrapper {
  display: flex;
}

.qw__description--wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.qw__para {
  font-weight: 500;
  width: 90%;
  text-align: left;
  padding: 0;
  margin-left: 0;
  margin-top: 32px;
}

.quality-work__img--wrapper {
  width: 55%;
}

.quality-work__img {
  width: 100%;
}

.qw__btn {
  margin-top: 12px;
  max-width: 28%;
}


/* 

STEPS

*/

.step__row {
  margin-top: 32px;
}

.step__img--wrapper {
  width: 60%;
  display: flex;
}

.step__img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0;
}

.step__description--wrapper {
  padding: 32px;
  width: 40%;
}

.step {

  display: flex;
  justify-content: start;
  gap: 12px;
  margin-top: 32px;
}

.step__number {
  opacity: 0.5;
  color: #243e6382;
  font-size: 32px;
  margin-right: 12px;
}

.step__name {
  font-size: 20px;
  font-weight: 500;
}

.step__para {
  line-height: 1.8;
  font-weight: 400;
  color: #243E63;
  max-width: 75%;
  margin-top: 12px;
}

/* 

VALUES

*/

.value__row {
  display: flex;
}

.value__img--wrapper {
  width: 50%;
  display: flex;
}

.value__img {
  width: 100%;
  
}

.section__value--sub-title {
  width: 90%;
  line-height: 1.3;
}

.section__value--description { 
  line-height: 1.5;
  width: 55%;
  display: flex;
  flex-direction: column;
  margin: 32px 0;

}

.values {
  display: flex;
  align-items: center;
  justify-content: center;
}

.value__name {
  font-size: 24px;
}

.value__para {
  line-height: 1.5;
  font-weight: 500;
  font-size: 14px;
  color: #243e6382;
  max-width: 80%;
  margin: 16px 0;
}

.value__description--para {
  font-weight: 500;
  line-height: 1.5;
  padding: 0 48px 0 0;
  text-align: left;
  font-size: 18px;
  color: #243e6382;
  margin: 32px 0 ;
  width: 100%;
}

.icon__dollar {
  border-radius: 100%;
  padding: 6px 12px;
  background: rgb(2, 215, 2);
}

.icon__briefcase {
  background-color: rgb(233, 134, 134);
  border-radius: 100%;
  padding: 8px 8px;
}

/* 

PLANS

*/

.pricing__row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plans__wrapper {
  margin-top: 48px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  flex-wrap: wrap;
}

.plan {
  width: calc(95% / 3);
  border-radius: 2%;
  border: 2px solid rgba(224, 221, 221, 0.5);
}

.sub__section:not(:last-child) {
  border-top: 2px solid rgba(224, 221, 221, 0.5);
  border-bottom: 2px solid rgba(224, 221, 221, 0.5); ;
}
.sub__section {
  text-align: center;
  padding: 40px;

}


.acc__type {
  font-size: 20px;
  margin-bottom: 12px;
}
.price {
  margin-bottom: 16px;
  font-size: 48px;
}

.description__title {
  font-size: 18px;
  margin: 6px 0 16px 0;
  font-weight: 700;
}

.plan__benefits {
  padding: 4px 0 12px 0;
  font-size: 18px;
  color: #243e63c6;
}

.first__plan--btn {
  background: linear-gradient(115deg, rgb(56, 178, 172)0%, rgb(129, 230, 217)100%);
}

.first__plan--btn:hover {
  background: linear-gradient(220deg, rgb(56, 178, 172)0%, rgb(129, 230, 217)100%)
}

.first__plan--top{
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 8px;
  background:linear-gradient(115deg, rgb(56, 178, 172)0%, rgb(129, 230, 217)100%);
}
.middle__plan {
  background:linear-gradient(135deg, rgb(76, 81, 191)0%, rgb(102, 126, 234)100%) ;
  color: #fff;
}

.middle__plan--benefits {
  color: #fff;
}
.middle__price--btn {
  background-color: white;
  color: #6415ff;
}

.middle__price--btn:hover {
  background-color: #A0AEC0;
}

.third__plan--btn {
  background:linear-gradient(115deg,rgb(245,101,101)0%, rgb(254, 178,178)100%);
}

.third__plan--btn:hover {
  background:linear-gradient(220deg,rgb(245,101,101)0%, rgb(254, 178,178)100%);
}

.third__plan--top {
  height: 8px;
  background:linear-gradient(115deg,rgb(245,101,101)0%, rgb(254, 178,178)100%);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

/* 

TESTIMONIALS

*/


.testimonials__row {
  display: flex;
}

.testimonials__img--wrapper {
  display: flex;
  width: 55%;
}

.testimonials__img {
  width: 100%;
}

.testimonials__description--wrapper {
  width: 50%;
  padding: 0 0 0 48px;
}

.testimonials__para {
  font-size: 16px;
  width: 100%;
  text-align: left;
  margin: 24px 0 32px 0;
  padding: 0;
}

.review-star__wrapper {
  margin: 0 0 16px 0;
  color: orange;
}

.review__highlight {
  font-size: 20px;
  color: #243E63;
  margin-bottom: 16px;
}

.review__para {
  width: 100%;
  line-height: 1.5;
  font-size: 16px;
  color: #243E63;
  font-weight: 400;
}

.profile__info {
  display: flex;
  align-items: center;
  margin-top: 24px;
  justify-content: space-between;
}

.profile__company {
  color: #a0aec0e0;
}

.review__profile-pic--wrapper {
  width: 100px;
}

.review__profile-pic {
  width: 75%;
  border-radius: 50%;
}

.pic-company-name__wrapper {
  display: flex;
  align-items: center;
}

.btn__back {
  border: none;
  color: #6415ff;
  background-color: rgb(237, 242, 247);
  border-radius: 50%;
  padding: 12px 12px ;
  margin: 12px;
}


/* 

FAQS

*/

.faqs__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.questions__wrapper {
  margin-top: 32px;
  width: 70%;

}

.question__box {
  display: flex;
  justify-content: space-between;
  background-color: rgba(237,242,247,1);
  padding: 20px 42px;
  margin-bottom: 16px;
  border-radius: 8px;
}

.question__box:hover {
  cursor: not-allowed;
}

.question__para {
  font-weight: 500;
  font-size: 20px;
}


/*

LAST SECTION


*/

.purple__div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #6415ff;
  padding: 90px 0 ;
  border-radius: 8px;
}

.section__title--white {
  font-size: 28px;
  color: #fff;
  width: 40%;
}

.btn__orange {
  background: rgb(245,101,101);
  padding: 24px 32px;
}

.btn__orange:hover {
  background: rgb(244, 72, 72);
}

.last__btn {
  margin-left: 24px;
  border: 2px solid #fff;
  padding: 24px 32px;
}


/* 

FOOTER

*/

footer {
  background: #6415ff;
  display: flex;
  max-width: 100%;
}

.column {
  width: 100%;
  display: flex;
  flex-direction: column;

}

.columns {
  width: 100vw;
  display: flex;
  padding: 0 0 48px 0;
  border-bottom: 2px solid rgba(226, 226, 226,0.2);
}

.footer__column--name {
  font-size: 16px;
  color: #fff;
  margin-bottom: 24px;
}

.footer__link {
  font-size: 14px;
  color: #fff;
  margin-top: 16px;
}

.bottom__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  margin-top: 56px;
}

.footer__logo {
  display: flex;
  align-items: center;
  gap: 6px;
}

.footer__logo--wrapper{
  width: 30px;
  height: 30px;
}

.footer__logo--img {
  width: 100%;
}

.social__links--wrapper {
  display: flex;
  gap: 8px;
}
.social__img--wrapper {
  width: 20px;
}


.social__img {
  filter: grayscale(1) invert(1);
}


/* 

LARGER TABLETS

*/

@media (max-width: 1023px) {
  .nav__container {
    max-width: 90%;
  }
  .nav__items {
    display: none;
  }
  .landing__title {
    font-size: 28px;
  }

  .landing__row {
    flex-wrap: wrap;
    justify-content: center;
  }

  .services {
    margin: 0 auto;
    width: calc(100% / 2);
 
  }
  .service {
    margin: 0 auto;
  }
  
  #quality-work,#steps,#values {
    margin: 0 auto;
    max-width: 900px;
  }

  .section__sub-title {
    font-size: 32px;
  }

  .section__description--para {
    margin-top:  12px;
  }

  .qw__btn {
    max-width: 40%;
  }

  .steps__wrapper {
    margin-left: 32px;
  }

  .values {
    flex-direction: column;
    max-width: 90%;
    margin: 12px 0;
  }

  .plans__wrapper {
    align-items: center;
    margin: 0 auto;
  }

  .plan {
    margin: 24px auto;
    width: 50%;
  
  }

  .columns {
    padding: 0 0 0 24px;
  }

  .bottom__footer {
    padding: 0 40px;
  }
 
}

@media (max-width: 769px) {
  .container, .row{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .landing__description {
    width: 75%;
  }
  
  .section__description--para {
    width: 100%;
    text-align: center;
    font-size: 16px;
  }

  .services {
    width: 75%;
    margin-bottom: 24px;
  }

  .quality-work__wrapper {
    flex-direction: column-reverse;
    align-items: center;
  }
  
  .quality-work__img--wrapper {
    width: 75%;
    margin-bottom: 24px;
  }
  .qw__description--wrapper {
    text-align: center;
    width: 75%;
    text-align: center;
    align-items: center;
  }

  .qw__btn {
    padding: 12px 32px;
  }
  .steps__wrapper {
    margin-top: 48px;
    text-align: center;
  }

  .step {
    margin: 24px auto;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .step__para {
    margin: 12px auto;
    text-align: center;
  }

  .value__row {
    flex-direction: column-reverse;
  }

  .section__value--description {
    text-align: center;
    width: 75%;
    align-items: center;
  }

  .value__description--para {
    width: 100%;
    text-align: center;
    font-size: 16px;
  }


}