@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', system-ui;
}

body {
  padding: 32px;
} 

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.btn {
  font-size: 16px;
  font-weight: bold;
  background-color: #6415ff;
  padding: 16px 32px;
  border-radius: 9999px;
  color: #fff;
}

.purple {
  color: #6415ff
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 96px 0;
}


/* 

NAV

*/

.nav__container {
  /* padding: 32px 0; */
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.logo__img {
  width: 100%;
}

.logo__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
  gap: 10px;
}

.logo__figure {
  width:50px;
}

.logo__name {
  font-size: 24px;
  color: #243E63;
}

.nav__items {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav__item--link {
  font-weight: 600;
  margin: 0 24px;
  font-size: 14px;
  color: #1A202C;
  padding: 0 0 4px;
}

.nav__item--link--primary {
  background-color: #6415ff;
  padding: 12px 32px;
  border-radius: 9999px;
  color: #fff;
}

.nav__item--link:not(:last-child):hover {
  color: #6415ff;
  border-bottom: 2px solid #6415ff;
}

.logo__name:hover {
  color: #6415ff;
}

/* 

LANDING

*/


.landing__row {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.landing__description {
width: 50%;
display: flex;
flex-direction: column;
}

.landing__title {
  font-size: 50px;
  max-width: 95%;
}

.landing__description--para {
  max-width: 90%;
  line-height: 1.5;
  margin: 32px 0;
  font-size: 18px;
  color: #243E63;
}

.email__input--wrapper {
  padding: 4px;
  display: flex;
  max-width: 90%;
  border: 2px solid lightgray;
  border-radius: 9999px;
}

.email__input--wrapper:hover {
  border: 2px solid #6415ff;
  outline: none;
}

.email__input {
  border: none;
  width: 100%;
  padding-left: 16px;
  opacity: 0.5;
  font-size: 16px;
}

input[type="email"]:focus {
  outline: none;
}
.sign-up__btn {
  width: 45%;
  padding: 12px 24px;

}


.landing__img {
  width: 60%;
}



.trusted-brands__img--para {
  font-size: 13px;
  margin-top: 80px;
  font-weight: 700;
  color: #A0AEC0;
}

.trusted-brands__img--wrapper {
  width: 400px;
}

.trusted-brands__img {
  opacity: 0.6;
  width: 100%;
  margin-top: 12px;
}


/* 

FEATURES

*/

.features__row {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section__title{
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 24px;
}

.section__sub-title {
  color: #243E63;
  font-size: 48px;
  font-weight: 900;
}

.section__description--para {
  font-weight: 700;
  line-height: 1.5;
  width: 60%;
  margin: 24px;
  padding: 0 50px;
  font-size: 18px;
  text-align: center;
  color: #243e6382;
}

.services__wrapper {
  margin: 64px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.services {
  width: calc(100% / 3);
  display: flex;
  align-items: flex-start;
}

.service__img--wrapper {
  margin-right: 12px;
}

.service__img {
  padding: 19px;
  margin: 0 32px;
  width: 65%;
  border-radius: 50%;
  border: 2px solid #243e6312;
}


.service__description{
  display: flex;
  text-align: start;
  flex-direction: column;
  justify-content: flex-start;
}

.service__name {
  font-weight: 500;
  font-size: 24px;
  
}

.service__para {
  line-height: 2;
  font-weight: 500;
  margin-top: 16px;
  margin-bottom : 48px;
  font-size: 18px;
  text-align: start;
  color: #243e6382;
}


/* 

QUALITY WORK

*/


.quality-work__wrapper {
  display: flex;
}

.qw__description--wrapper {
  width: 50%;
}

.qw__para {
  font-weight: 500;
  width: 90%;
  text-align: left;
  padding: 0;
  margin: 24px 0;
}

.quality-work__img--wrapper {
  width: 55%;
}

.quality-work__img {
  width: 100%;
}

.qw__btn--container {
  margin-top: 32px;
}